<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Netflix</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/Netflix/logo.ico" />
    <link rel="stylesheet" href="estilos/principal.css" />

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
</head>

<body>
    <header>
        <a href="index.html">
            <img id="marca" src="img/Netflix/marca.png" alt="Netflix" />
        </a>
        <a class="boton" id="sesion" href="iniciar_sesion.html">Iniciar Sesion</a>
        <div id="descripcion">
            <h1>Bienvenido a Netflix</h1>
            <h2 id="descrip">Disfruta donde quieras. Cancela cuando quieras.</h2>
            <p>Netflix es un servicio de streaming que ofrece una gran variedad de películas, series y documentales
                premiados en casi cualquier pantalla conectada a internet. Todo lo que quieras ver, sin límites ni
                comerciales, a un costo muy accesible. Siempre hay algo nuevo por descubrir, ¡y todas las semanas se
                agregan más películas y series!</p>
                <a id="registrar" class="boton" href="registrar.html">REGISTRATE YA</a>
            </div>
    </header>

    <section>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <hr class="separador">
                    <h2 class="center-align titulo" id="trending">Trending</h2>
                    <div class="carousel center-align">
                        <div class="carousel-item">
                            <img src="img/Poster/cruella-2021-bluray-audio-latino-mediafire.jpg" alt="" />
                        </div>

                        <div class="carousel-item">
                            <img src="img/Poster/estados-unidos-la-pelicula-2021-bluray-audio-latino.jpg" alt="" />
                        </div>

                        <div class="carousel-item">
                            <img src="img/Poster/la-guerra-del-manana-2021-poster-bluray-audio-latino-mega-mediafire.jpg"
                                alt="" />
                        </div>

                        <div class="carousel-item">
                            <img src="img/Poster/samurai-x-el-fin-2021-bluray-audio-latino-poster.jpg" alt="" />
                        </div>

                        <div class="carousel-item">
                            <img src="img/Poster/un-jefe-en-panales-2-negocios-de-familia-2021-bluray-audio-latino-mediafire.jpg"
                                alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="boton" href="iniciar_sesion.html">Ver Todo</a>

        <div class="container">
            <div class="row">
                <div class="col s12">
                    <hr class="separador">
                    <h2 class="center-align titulo" id="estrenos">Próximos Estrenos</h2>
                    <div class="carousel center-align">
                        <div class="carousel-item">
                            <img src="img/Poster/black-widow-2021-pelicula-bluray-1080p-audio-latino-mediafire.jpg" alt="" />
                        </div>

                        <div class="carousel-item">
                            <img src="img/Poster/Loki.S01.Hackstore.Net_.jpeg" alt="" />
                        </div>

                        <div class="carousel-item">
                            <img src="img/Poster/horario-estelar-2021-poster-latino.jpg" alt="" />
                        </div>

                        <div class="carousel-item">
                            <img src="img/Poster/one-piece-hackstore.net_.jpeg" alt="" />
                        </div>

                        <div class="carousel-item">
                            <img src="img/Poster/riesgo-bajo-cero-2021-poster-latino-mega.jpg"
                                alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="boton" href="iniciar_sesion.html">Ver Todo</a>
    </section>

    <footer>

        <hr class="separador">

        <h4 id="fin">Netflix Venezuela</h4>

    </footer>


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="js/main.js"></script>

</body>

</html>