<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Netflix</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/logo.ico" />
    <link rel="stylesheet" href="Estilos/principal.css" />

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
</head>

<body>
    <header>
        <img id="marca" src="img/marca.png" alt="Netflix" />
        <a class="boton" id="sesion" href="">Iniciar Sesion</a>
    </header>

    <section>
        
        <h1>Bienvenido a Netflix</h1>

        <a class="boton" href="">REGISTRATE YA</a>

            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <hr>
                        <h2 class="center-align titulo" id="trending">Trending</h2>
                        <div class="carousel center-align">
                            <div class="carousel-item">
                                <img src="img/cruella-2021-bluray-audio-latino-mediafire.jpg" alt="" />
                            </div>

                            <div class="carousel-item">
                                <img src="img/estados-unidos-la-pelicula-2021-bluray-audio-latino.jpg" alt="" />
                            </div>

                            <div class="carousel-item">
                                <img src="img/la-guerra-del-manana-2021-poster-bluray-audio-latino-mega-mediafire.jpg"
                                    alt="" />
                            </div>

                            <div class="carousel-item">
                                <img src="img/samurai-x-el-fin-2021-bluray-audio-latino-poster.jpg" alt="" />
                            </div>

                            <div class="carousel-item">
                                <img src="img/un-jefe-en-panales-2-negocios-de-familia-2021-bluray-audio-latino-mediafire.jpg"
                                    alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="boton" href="">Ver Todo</a>

            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <hr>
                        <h2 class="center-align titulo">Proximos Estrenos</h2>
                        <div class="carousel center-align">
                            <div class="carousel-item">
                                <img src="img/cruella-2021-bluray-audio-latino-mediafire.jpg" alt="" />
                            </div>

                            <div class="carousel-item">
                                <img src="img/estados-unidos-la-pelicula-2021-bluray-audio-latino.jpg" alt="" />
                            </div>

                            <div class="carousel-item">
                                <img src="img/la-guerra-del-manana-2021-poster-bluray-audio-latino-mega-mediafire.jpg"
                                    alt="" />
                            </div>

                            <div class="carousel-item">
                                <img src="img/samurai-x-el-fin-2021-bluray-audio-latino-poster.jpg" alt="" />
                            </div>

                            <div class="carousel-item">
                                <img src="img/un-jefe-en-panales-2-negocios-de-familia-2021-bluray-audio-latino-mediafire.jpg"
                                    alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="boton" href="">Ver Todo</a>
            
            <h2>Planes y Precios</h2>
            <div id="precios">    
                <table>
                    <tr>
                        <td></td>
                        <td>Basico</td>
                        <td>Estandar</td>
                        <td>Premium</td>
                    </tr>

                    <tr>
                        <td>Precio</td>
                        <td>$7.99</td>
                        <td>$10.99</td>
                        <td>$13.99</td>
                    </tr>

                    <tr>
                        <td>Dispositivos</td>
                        <td>1</td>
                        <td>2</td>
                        <td>4</td>
                    </tr>

                    <tr>
                        <td>Descargar</td>
                        <td>SI</td>
                        <td>SI</td>
                        <td>SI</td>
                    </tr>

                    <tr>
                        <td>Peliculas y series ilimitadas</td>
                        <td>SI</td>
                        <td>SI</td>
                        <td>SI</td>
                    </tr>

                    <tr>
                        <td>HD</td>
                        <td>NO</td>
                        <td>SI</td>
                        <td>SI</td>
                    </tr>

                    <tr>
                        <td>ULTRA HD</td>
                        <td>NO</td>
                        <td>NO</td>
                        <td>SI</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td><a class="boton" href="">COMPRAR</a></td>
                        <td><a class="boton" href="">COMPRAR</a></td>
                        <td><a class="boton" href="">COMPRAR</a></td>
                    </tr>
                </table>
            </div>
    </section>

    <footer>
        <hr>
        <nav class="contacto">
            <ul>
                <h3>Enlaces de Interes</h3>
                <li><a href="">Iniciar Sesion</a></li>
                <li><a href="">Registro</a></li>
                <li><a href="">Series/Peliculas</a></li>
                <li><a href="">Planes y Precios</a></li>
                <li><a href="">Preguntas Frecuentes</a></li>
            </ul>
        </nav>

        <nav class="contacto">
            <ul>
                <h3>Contactanos</h3>
                <li>+1 (000) 000-0000 (USA)</li>
                <li>+58 (000) 000-0000 (VE)</li>
                <li>+57 (000) 000-0000 (COL)</li>
                <li><a href="">Otros</a></li>
            </ul>
        </nav>

        <h3>Netflix Venezuela</h3>

    </footer>


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="js/main.js"></script>

</body>

</html>