<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix - Iniciar Sesión</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/Netflix/logo.ico" />
    <link rel="stylesheet" href="estilos/iniciar_sesion.css" />
</head>

<body>
    <header>
        <div >
            <a href="index.html">
                <img id="marca" src="img/Netflix/marca.png" alt="Netflix" />
            </a>
            <a class="boton" id="registrarse" href="registrar.html">Registrarse</a>
        </div>
    </header>

    <section>

        <div id="contenedor">
            <h1>Inicia Sesion</h1>
            <form id="formulario" action="">

                <input class="campo" type="email" name="correo" placeholder="Correo">
                <input class="campo" type="password" name="contra" placeholder="Contraseña">
                

                <input type="submit" class="boton" id="ingresar" value="Ingresar">

            </form>

        </div>

    </section>
</body>

</html>