<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="img/Netflix/logo.ico" />
    <title>Netflix - Registrarse</title>
    <link rel="stylesheet" href="estilos/registrar.css">

</head>

<body>
    <header>
        <div>
            <a href="index.html">
                <img id="marca" src="img/Netflix/marca.png" alt="Netflix" />
            </a>
            <a class="boton" id="iniciar" href="iniciar_sesion.html">Iniciar Sesion</a>
        </div>
    </header>
    <section>

        <div id="contenedor">
            <h1>Ingresa los datos</h1>
            <form id="formulario" action="">

                <input class="campo izq" type="text" name="nombre" placeholder="Nombre">
                <input class="campo" type="text" name="apellido" placeholder="Apellido">
                <input class="campo izq" type="email" name="correo" placeholder="Correo">
                <input class="campo" type="text" name="contra" placeholder="Nombre de Usuario">
                <input class="campo izq" type="date" name="edad" placeholder="DD/MM/AAAA">
                <input class="campo" type="password" name="contra" placeholder="Contraseña">

                <select name="pais" class="campo izq lista">
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                    <option value="n/a">N/A</option>
                </select>

                <select name="ciudad" class="campo lista">
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                    <option value="n/a">N/A</option>
                </select>

                <select name="sexo" id="sexo" class="campo izq lista">
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                    <option value="n/a">N/A</option>
                </select>
                
                <input class="campo tarjeta" type="number" name="tarjeta" placeholder="Tarjeta">
                <input class="campo izq campoTar" type="number" name="CVV" placeholder="CVV" id="cvv" min="100" max="999">
                <input class="campo izq campoTar" type="number" name="vencimiento_mes" placeholder="mm" min="1" max="12">
                <input class="campo campoTar" type="number" name="vencimiento_year" placeholder="aaaa" min="2000">
                
                <input type="submit" class="boton" id="registrar" value="Registrarse">

            </form>

        </div>

    </section>
</body>

</html>